.footer {
    background-image: url('../images/footer/footer-bg-1.png'), url('../images/footer/footer-bg-2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right 0% top 50%, right 0% top 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 130px;
    margin-top: 10px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.footer-logo {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-content {
    width: 40%;
    color: rgba(98, 102, 135, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer-social {
    display: flex;
    gap: 25px;
}

.footer-right {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-right .footer-title {
    color: rgba(14, 23, 53, 1);
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
}

.footer-right p:not(.footer-title) {
    color: rgba(136, 139, 151, 1);
    font-size: 14px;
    font-weight: 400;
}

.footer-link {
    text-decoration: none;
    color: rgba(136, 139, 151, 1);
    transition: color 300ms;
}

.footer-link:hover {
    color: rgba(27, 28, 87, 1);
}

@media only screen and (max-width: 1000px) {

    .footer {
        grid-template-columns: 1fr;
        padding: 0 20px;
        padding-top: 70px;
        padding-bottom: 30px;
        background-position: right 0% bottom 0%, right 0% bottom 0%;
    }

    .footer-left {
        align-items: center;
    }

    .footer-content {
        text-align: center;
    }

    .footer-right:nth-child(2) {
        margin-top: 25px;
    }

    .footer-right {
        grid-template-columns: 1fr;
        gap: 15px;
        justify-items: center;
    }

    .footer-right > * {
        text-align: center;
    }

    .footer-right .footer-title {
        margin-top: 18px;
    }

}

@media only screen and (max-width: 600px) {
    .footer-content {
        width: 90%;
    }
}