#subscribe-section {
    padding-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/subscribe/subscribe-bg-1.png'), url('../images/subscribe/subscribe-bg-2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left 0% top 50%, right 0% top 50%;
}

.subscribe-container {
    background-image: url('../images/subscribe/subscribe-container.png');
    background-size: cover;
    background-position: center;
    width: 85%;
    display: flex;
    border-radius: 32px;
    box-sizing: border-box;
}

.subscribe-icons-left {
    flex: 1;
    position: relative;
}

.subscribe-main-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.subscribe-main-content .subscribe-title {
    font-size: 32px;
    font-weight: 600;
    color: rgba(27, 28, 87, 1);
    text-align: center;
    width: 65%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.subscribe-main-content .subscribe-form {
    width: 75%;
    position: relative;
}

.subscribe-main-content .subscribe-form img {
    position: absolute;
    top: 16px;
    left: 24px;
    width: 24px;
}

.subscribe-main-content .subscribe-form input {
    width: 100%;
    height: 54px;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
    border: 0px;
    border-radius: 32px;
    padding-left: 60px;
    box-sizing: border-box;
    font-size: 16px;
    outline: 0;
}

.subscribe-main-content .subscribe-form input::placeholder {
    font-size: 16px;
    color: rgba(136, 139, 151, 1);
    font-weight: 500;
}

.subscribe-main-content .subscribe-form .subscribe-button {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 46px;
    border-radius: 32px;
    border: 0;
    padding: 12px 16px 12px 16px;
    background-color: rgba(16, 185, 129, 1);
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 300ms;
}

.subscribe-main-content .subscribe-form .subscribe-button:hover {
    background-color: #047857;
    cursor: pointer;
}

.subscribe-icons-right {
    flex: 1;
    position: relative;
}

.subscribe-icon {
    position: absolute;
}

.rectangle-lg {
    width: 81px;
    height: 81px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 24px;
}

.rectangle-md {
    width: 70px;
    height: 70px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 24px;
}

.rectangle-sm {
    width: 55px;
    height: 55px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 24px;
}

.circle-sm {
    width: 36px;
    height: 36px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 32px;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
}

.position-top-left {
    top: 10%;
    left: 15%;
}

.position-top-right {
    top: 18%;
    right: 25%;
}

.position-mid-high-left {
    top: 15%;
    left: 15%;
}

.position-mid-left {
    bottom: 40%;
    left: 25%;
}

.position-mid-right {
    top: 30%;
    right: 25%;
}

.position-bottom-high-left {
    bottom: 35%;
    left: 20%;
}

.position-bottom-high-right {
    bottom: 25%;
    right: 20%;
}

.position-bottom-low-right {
    bottom: 20%;
    right: 20%;
}

@media only screen and (max-width: 1200px) {

    .subscribe-icons-right {
        display: none;
    }
    .subscribe-icons-left {
        display: none;
    }
    .subscribe-container {
        width: 90%;
    }

}

@media only screen and (max-width: 500px) {

    .subscribe-main-content .subscribe-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .subscribe-main-content .subscribe-form .subscribe-button {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .subscribe-main-content .subscribe-title { 
        font-size: 24px;
    }
    
}